.form {
    padding: 1rem;
}

.uploadContainer {
    margin-bottom: 1.5rem;
}

.optionsContainer {
    margin-bottom: 1.5rem;
}

.optionsToggle {
    margin-bottom: 0.5rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
}