.container {
    min-height: 240px;
    min-width: 400px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
}

.formatOptions {
    margin-bottom: 2rem;
}

.title {
    font-weight: 500;
    margin-bottom: 1rem;
}

.options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: var(--color-background-alt);
    border-radius: 0.5rem;
    padding: 1rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--color-background-alt-hover);
    }
}

.description {
    margin-top: 0.5rem;
    margin-left: 1.75rem;
    font-size: 0.75rem;
    color: var(--color-text-secondary);
}

.error {
    color: var(--color-error);
    background-color: var(--color-error-light);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 0.875rem;
}

@media (max-width: 576px) {
    .container {
        min-width: auto;
        width: 100%;
    }
}